{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  
	function oncekiKanal(){
		$.getJSON($SCRIPT_ROOT + '/oncekiKanal', {
		}, function(data) {
		});
	}
	
	function sonrakiKanal(){
		$.getJSON($SCRIPT_ROOT + '/sonrakiKanal', {
		}, function(data) {
		});
	}
	
	function buyut(){
		$.getJSON($SCRIPT_ROOT + '/buyut', {
		}, function(data) {
		});
	}
	
	function standartKalitePlus(){
		$.getJSON($SCRIPT_ROOT + '/standartKalitePlus', {
		}, function(data) {
		});
	}
	
	function standartKalite(){
		$.getJSON($SCRIPT_ROOT + '/standartKalite', {
		}, function(data) {
		});
	}
	
	function kotaDostu(){
		$.getJSON($SCRIPT_ROOT + '/kotaDostu', {
		}, function(data) {
		});
	}
	
	function otomatik(){
		$.getJSON($SCRIPT_ROOT + '/otomatik', {
		}, function(data) {
		});
	}
	
	function sesAc(){
		$.getJSON($SCRIPT_ROOT + '/sesAc', {
		}, function(data) {
		});
	}
	
	function sesKis(){
		$.getJSON($SCRIPT_ROOT + '/sesKis', {
		}, function(data) {
		});
	}
	
	function sesMute(){
		$.getJSON($SCRIPT_ROOT + '/sesMute', {
		}, function(data) {
		});
	}
  
</script>
<h1>Digiturk Play Kumanda</h1>
<button type="button" onclick="sesAc()">Ses Ac</button>
<button type="button" onclick="sesMute()">Mute</button>
<button type="button" onclick="sesKis()">Ses Kıs</button>
</br>
<button type="button" onclick="oncekiKanal()">Önceki Kanal</button>
<button type="button" onclick="sonrakiKanal()">Sonraki Kanal</button>
<button type="button" onclick="buyut()">Buyut</button>
</br>
<button type="button" onclick="standartKalitePlus()">Standart Kalite+</button>
<button type="button" onclick="standartKalite()">Standart Kalite</button>
<button type="button" onclick="kotaDostu()">Kota Dostu</button>
<button type="button" onclick="otomatik()">Otomatik</button>
{% endblock %}